html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  padding: 0%;
  margin: 0%;
}
#main_pallet {
  display: flex;
  height: 100%;
}
#pallet1,
#pallet2,
#pallet3,
#pallet4,
#pallet5,
#pallet6 {
  width: 20%;
  height: 100%;
  text-align: center;
}

.colorcode {
  position: relative;
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  margin-top: 220%;
}

.colorcode:hover {
  background-color: #ddd;
}



.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999;
  display: block;
}

.alert.show {
  display: block;
}

.alert p {
  margin: 0;
}

.closebtn {
  color: white;
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(title);
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  background: linear-gradient(to bottom, #333, #444);
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
}

.tooltip:hover::after {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  /* Define styles for mobile devices */

  #main_pallet {  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pallet1,
#pallet2,
#pallet3,
#pallet4,
#pallet5,
#pallet6 {
  display: block;
  margin: 0%;
  padding: 0%;
  height: 20%;
  width: 100%;
}
.colorcode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 15px;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  margin-left: 60%;
  margin-top: 22%;
}

}
